name: Run Tests and Deploy

on:
  push:
    branches:
      - master

jobs:
  test-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Run vitest
        run: npm run test

      - name: Run Playwright tests
        run: npm run test:playwright

      # - name: Deploy to Vercel
      #   if: ${{ success() }}
      #   run: |
      #     npx vercel --prod
